body {
    background-color: black;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin: 0;
    padding: 0;
    color: #333;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    text-align: center;
}

header {
    background-color: rgba(0, 0, 0, 0.6);
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.team-icon {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 3px solid #ff0000;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.team-name {
    color: #ff0000;
    margin-left: 10px;
    font-size: 50px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.team-members {
    background-color: rgba(0, 0, 0, 0.7);
    padding: 20px;
    margin: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
}

@font-face {
    font-family: 'CoffceTower';
    src: url('CoffceTower.ttf');
}

.team-members1 {
    background-color: rgba(0, 0, 0, 0.7);
    padding: 20px;
    margin: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
    font-family: 'CoffceTower', Arial, sans-serif;
}

h2 {
    color: #ff0000;
    font-size: 28px;
    text-transform: uppercase;
    margin-bottom: 10px;
}

p {
    font-size: 18px;
    margin-bottom: 20px;
}

a {
    color: #ff0000;
    text-decoration: none;
    border: 2px solid #ff0000;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 18px;
    margin-right: 10px;
    transition: all 0.3s ease;
}

a:hover {
    background-color: #ff0000;
    color: #ffffff;
    transform: scale(1.1);
}
